#motCouffo
{
    text-align: center;
    font-size: xx-large;
}

.imgCouffo
{
    margin-left: 100px;
    margin-bottom: 500px;
    margin-top: 10px;
    position:relative;
    width: auto;
    height: 620px;
}
.para1_Couffo
{
    margin-right: 500px;
    margin-top: auto;
    text-align: center justify;
    padding: -100pc;
    overflow: auto;
}
#Communes_Couffo
{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: slategrey;
}
#Administration_Couffo
{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: slategrey;
}
#Démographie_Couffo
{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: slategrey;
}
#Géographie_Couffo
{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: slategrey;
}
#Subdivisions_Couffo
{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: slategrey;
}
